<!DOCTYPE html>
<html lang="en" ng-app="sar-log">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/css/select.min.css">

    <link rel="stylesheet" href="dist/css/application.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="displayLog" >
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="btn btn-danger navbar-btn" ng-click="openCreateModal()">Nýtt verkefni</button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="queryString" placeholder="Search">
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container-fluid">

        <div class="col-md-12">
          <div class="" ng-repeat="item in activity | orderBy:'epoch':true  | filter:queryString">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  {{ item._source.name }} - {{ item._source.timestamp | date:'dd.MM.yyyy HH:mm' }}
                  <span class="label label-danger">{{item._source.hours}} klst</span>
                  <div class="pull-right">
                    <button uib-tooltip="Breyta færslu" type="button" class="btn btn-warning btn-xs" name="button" ng-click="openCreateModal(item)"><i class="fa fa-wrench"></i></button>
                    <button uib-tooltip="Eyða færslu" type="button" class="btn btn-danger btn-xs" name="button" ng-click="deleteRecord(item._id, item)"><i class="fa fa-remove"></i></button>
                    <button uib-tooltip="Bæta notenda við færslu" type="button" name="button" class="btn-primary btn btn-xs" ng-click="addUser(item)"><i class="fa fa-plus"></i></button>

                  </div>
                </h3>
              </div>
              <div class="panel-body">
                <div class="">

                </div>
                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item">
                      <span ng-repeat="user in item._source.users"> <span class="label label-success">{{ user }}</span></span>
                  </li>
                  <li class="list-group-item">
                    <span ng-repeat="tag in item._source.tags"> <span class="label label-info">{{ tag }}</span></span>
                  </li>
                  <li class="list-group-item" ng-hide="(!item._source.description)">Lýsing: {{item._source.description}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="config.js"></script>
    <script src="dist/js/libs.js"></script>

    <script src="dist/js/application.min.js"></script>

  </body>
</html>
