<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Bæta við notendum í verkefni: {{ name }}</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <form class="form-horizontal" ng-submit="addUser()">
        <div class="form-group ">
          <ui-select multiple theme="bootstrap"
            tagging="createTag"
            close-on-select="false"
            ng-model="form.users"
            title="Veldu björgunarmenn">
            <ui-select-match placeholder="Veldu björgunarmenn">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="item in users | filter:$select.search:false">
              {{item.name}}
            </ui-select-choices>
          </ui-select>

        </div>
      </form>
      <div class="">
        <h4>Quick add, virkir notendur</h4>
        <div class="">
          <button  ng-repeat="item in activeUsers" class="btn btn-block btn-success" ng-click="quickAdd(item.name)" >
            {{item.name}}
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" type="button" ng-click="add()">Bæta við</button>
      <button class="btn btn-warning" type="button" ng-click="close()">Loka</button>
    </div>
</div>
